<div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
    >
<div class="row" 
>
  <div
  
    class="product col-lg-4 col-md-6 col-sm-6"
    #productCard
    
    *ngFor="let product of products"
    
    data-toggle="modal"
    data-target="#myModal"
    
  >
    <div class="plant">
      <div  class="clickPart" (click)="onClick(product)">
      <img src="{{ product.productImage }}" alt="" srcset="" />
      <h5>{{ product.productName }}</h5>
      <p>{{ product.productDescription }}</p>
      </div>
    
      
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-12">
   
  </div>
</div>




<div *ngIf="selectedProduct">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">
            &times;
          </button>
          <h4 class="modal-title">{{ selectedProduct.productName }}</h4>
        </div>
        <div class="modal-body">
          <img src="{{ selectedProduct.productImage }}" alt="" srcset="" />
          <p class="description">{{ selectedProduct.productDescription }}</p>
          <p class="information" >{{ selectedProduct.productInformation }}</p>
          <div class="container" >
            <ya-map [center]="[55.751952, 37.600739]" [zoom]="12">
<!-- создает рандомную метку, но не на каждом продукте а на всю страницу новая метка((исправить)) -->
                <ya-placemark (yaclick)="yaClick()"  [geometry]="[selectedProduct.coordinate.first,selectedProduct.coordinate.second]"></ya-placemark>

            </ya-map>
          </div>
          <div *ngIf="clicked" class="yaMapClicked">
            <h3>Заполните форму ниже и наш оператор свяжется с Вами!</h3>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email адрес</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите email">
                
              </div>
              <div class="form-group">
                <label>Номер телефона:</label>
                <input class="form-control" type="text" placeholder="8-____-___-__-__">
                <label >ФИО:</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Введите ваши ФИО">
              </div>
              <button type="submit" class="btn ">Отправить</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">
            Закрыть
          </button>
         
        </div>
      </div>
    </div>
  </div>
</div>
