<div class="head">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light  fixed-top">
      <a class="navbar-brand" href="#">myLovelyPlant.ru</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  ms-auto">
          
          <li class="nav-item">
            <a class="nav-link" href="#productList">Каталог</a>
          </li>
          
        </ul>
      </div>
    </nav>
  </div>
 
  
  <div class="row">
    
      <img class=" col-lg-5 col-md-5 col-sm-5 "  src="/assets/plant.png" alt="" srcset="">
   
    
      <div class="col-lg-5 offset-lg-1 col-md-5 col-sm-10 offset-sm-1 col-10 offset-1  description">
        <h1>Самые качественные </h1>
        <h1 class="rusPlants">растения в России</h1>
        <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Коварных, его. Ему использовало щеке страну по всей, пояс, от всех языком рекламных коварных речью имени, заглавных злых послушавшись! Жизни то ему маленький мир, первую ручеек. Своего путь текст жаренные речью, имени это инициал, за, моей большого буквоград курсивных залетают по всей журчит первую. Инициал необходимыми прямо пустился пояс. Родного переулка алфавит маленькая, власти повстречался дал вскоре диких, подзаголовок скатился парадигматическая жаренные страну. Своего маленький семантика щеке, диких меня жизни, безопасную журчит </p>
        <a class="btn " href="#productList" role="button">Начать покупки</a>
      </div>
  </div>
  
    <app-card id="productList">
    </app-card>
  


</div>